@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
}

h1, h2, h3, h4, li, td, p {
    color: white;
}

li {
    padding: .5rem
}

h1 {
    font-weight: bold;
    font-size: 20pt;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}